body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  color: #010202;
}

#about p,
#skills ul,
#experience p,
#education p {
  font-size: 1rem;
}

img.rounded-circle {
  border: 3px solid #007bff;
}

.list-inline-item {
  font-size: 1.1rem;
}
